h1{
    text-align: center;
    margin: 12px 0;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.myInput{
    width: 40%;
    padding: 9px;
    margin: 9px;
    font-size: 15px;
    border: 2px solid rgb(51, 31, 31);
    border-radius: 12px;
}
.btn{
    padding: 12px 16px;
    margin: 12px 13px;
    font-size: 18px;
    border: 2px solid red;
    border-radius: 12px;
    color: white;
    background-color: rgb(105, 36, 36);
    cursor: pointer;
}